table{
    width: 100%;
    border-collapse: collapse;
    
}

table td,table th{
    border: 1px solid #ddd;
    padding: 4px;
}
table th{
    text-align: left;
    background-color: burlywood;
    color: white;
    font-weight: bold;
    
}
table tr:nth-child(odd){
    background-color: azure;
}
table tr:nth-child(even){
    background-color: white;
}
table tr:nth-child(odd):hover{
    background-color:darkseagreen;
}
table tr:nth-child(even):hover{
    background-color:darkseagreen;
}

